<wealthcare-header [userInfo]="userInfo"></wealthcare-header>
<div class="generalWrapper">
  <div class="bx--grid">
    <div class="bx--row">
      <div class="bx--col">
        <ibm-tabs isNavigation="false">
          <ibm-tab heading="Financial Plan">
            <div class="user-list">
              <!-- <goal class="usersListComponent" [goalsList]="goals"></goal>-->
              <financial-plan  [customersGoalList]="goalList" [financialEnabled] ="true"></financial-plan>
            </div>
          </ibm-tab>
          <ibm-tab heading="Portfolio">
            <div class="user-list">
               <portfolio [rowsForTable]="goalList"></portfolio>
            </div>
          </ibm-tab>
          <ibm-tab heading="Profile">
            <div class="user-list">
              <app-profile [customerDetails]="customerDetails"></app-profile>
            </div>
          </ibm-tab>
        </ibm-tabs>
      </div>
    </div>
  </div>
</div>