<div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let columns of columnsForTable">{{columns}}</th>
            </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let goal of rowsForTable">
            <tr  *ngFor="let rows of goal.investments">
                <td>{{goal.goalReference}} : {{goal.goalDesc}}</td>
                <td>{{rows.investmentDate}}</td>
                <td>{{rows.investmentAmount}}</td>
                <td>
                    <div>{{rows.stockAmount}}</div>
                    <div *ngIf="rows.currentValueStockAmountString" class="goal-calc-container">({{rows.currentValueStockAmountString}})</div>
                </td>
                <td>
                    <div>{{rows.mutualFundAmount}}</div>
                    <div *ngIf="rows.currentValueMutualFundAmountString" class="goal-calc-container" >({{rows.currentValueMutualFundAmountString}})</div>
                </td>
                <td>
                    <div>{{rows.fixedDepositAmount}}</div>
                    <div *ngIf="rows.currentValueFixedDepositAmountString" class="goal-calc-container" >({{rows.currentValueFixedDepositAmountString}})</div>
                </td>
                <td>
                    <div>{{rows.currentValueTotalString}}</div>
                    <div *ngIf="rows.currentValueTotalComments" class="goal-calc-container">{{rows.currentValueTotalComments}}</div>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>